{% load static %}



    <div class="container">
        <div class="units-row">
            <div class="unit-50">
                <p>Handcrafted by Afnizar Nur Ghifari</p>
            </div>
            <div class="unit-50">
                <ul class="social list-flat right">
                    <li><a href="mailto:mohamadma8878@gmail.com"><i class="fa fa-send"></i></a></li>
                    <li><a href="http://telegram.com/mohamadma88"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="http://github.com/mohamadma88"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://instagram.com/__mohamad.m.a_"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


